.postListContainer {
  max-width: 700px;
  width: 100%;
  margin: 2rem auto;

  button {
    border: 0;
    background: none;
    color: var(--highlight);
    padding: 1rem 2rem;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
}

.postListContent {
  max-width: 700px;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  a {
    &:hover {
      color: var(--highlight);
    }
  }

  strong,
  p {
    font-family: "Inter", sans-serif;
  }

  strong {
    font-size: 28px;
    font-weight: 700;
  }

  p {
    font-weight: 400;
    color: var(--gray-900);
    font-size: 16px;
    margin-bottom: 1rem;
    vertical-align: baseline;
    text-align: left;
  }

  ul {
    display: inline-flex;
    list-style: none;
    gap: 1rem;

    & li {
      font-weight: 400;
      color: var(--gray-900);

      & svg {
        margin-right: 0.5rem;
      }

      &+li {
        margin-left: 1.625rem;
      }
    }
  }
}
