.container {
  // max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    position: fixed;
    right: 0;
    top: 0;
    border: 0;
    background: none;

    margin: 1rem;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    margin: 1rem;
  }

  p {
    text-align: center;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}
