.aside {
  background-color: #FF57B2;
  background-image: linear-gradient(315deg, #FF57B2 0%, #0d324d 74%);

  max-width: 4rem;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0.5rem;
  color: var(--body);

  @media (max-width: 968px) {
    display: none;
  }

  ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & li {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      display: flex;
      align-items: center;

      &:hover {
        color: #FF57B2;
        cursor: pointer;
      }

      & span {
        margin-left: 0.5rem;
      }
    }
  }
}
