package templates

import "github.com/0xb0b1/blog/i18n"

templ About(lang i18n.Lang) {
	<div class="container">
		<div class="about">
			<h1 class="page-title">{ i18n.Get(lang).AboutTitle }</h1>

			<div class="about-content">
				<p>{ i18n.Get(lang).AboutIntro }</p>

				<p>{ i18n.Get(lang).AboutBlog }</p>

				<h2>{ i18n.Get(lang).AboutContact }</h2>
				<p>{ i18n.Get(lang).AboutContactLink } <a href="https://github.com/0xb0b1" target="_blank">GitHub</a>.</p>
			</div>
		</div>
	</div>
}
